<nav class="navbar">
    <div class="navbar-logo">
        <img src="image1.png" alt="Logo"> <!-- Replace with your logo source -->
        <strong><span>Recipe App</span></strong>
    </div>
    <div class="navbar-links">
        <a href="#home" class="active">Home</a>
        <a href="#features">Features</a>
        <a href="#how-it-works">How It Works</a>
        <a href="#about-us">About Us</a>
        <a href="#testimonial">Testimonial</a>
        <a href="#">Sign up</a>
    </div>
    <a href="#get-the-app" class="get-app">Get the App</a>
</nav>

<app-home></app-home>