<!-- <p>footer works!</p> -->
<div class="hero-section">
    <h1 class="hero-title">Culinary Adventures Await: Dive into Our Recipe Wonderland!</h1>
    <h2 class="hero-subtitle">Download the App Now!</h2>
    <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore
    </p>
    <div class="download-buttons">
    <a href="#" class="download-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" class="store-icon"
            alt="Google Play">
        <div class="download-btn-text">
            GET IT ON<br>
            <span>Google Play</span>
        </div>
    </a>
    <a href="#" class="download-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Download_on_the_App_Store_Badge.svg"
            class="store-icon" alt="App Store">
        <div class="download-btn-text">
            Download on the<br>
            <span>App Store</span>
        </div>
    </a>
</div>
</div>

<!--================================= -->


